<!--
  Generated template for the Main page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class = "full bluish">
<ion-slides [options]="{onlyExternal: true}">    
<!---multiple form  for one page form-->
<ion-slide class = "overall" >
<!-- overall for ist point -->

<!-- overall for ist point -->
</ion-slide>
<ion-slide class = "overall">  
<div class = "foot"><span class = "fot">Nema-Mobile</span><i class = "i fa fa-battery-full fr wht "></i></div>
<div class = "whitebox">
 <div class = "top"><i class = " i fa fa-arrow-left col33 " (click) = "gotobar(0)"></i><i class = " i fa fa-globe col33"></i> <i class = " i fa fa-envelope-o col33 "></i> <i class = " i fa fa-close col33 "  (click) = "gotobar(0)"></i> </div>
 <div class = "rightup">
   <div class = "txtop">{{topmessage}}</div>
   <div class = "txt">
     <textarea rows = "9" placholder = "Comment on reports here" [(ngModel)] = "model"></textarea>
   </div>
 <div class = "btns">
   <div class = "btn btnwhite fr" (click) = "postmes()"><i class = "fa fa-map-marker"></i> Post</div>
   <div class = "btn btnblue fr" (click) = "clear()"><i class = "fa fa-close"></i> Delete</div>
 </div>
 </div>
 <div *ngIf = "msgs.length > 0">
 <div class = "commentup" *ngFor = "let i of msgs">
   <div class = "white blue ff">{{date}}</div>
   <div class = "light gray f"> {{i}}</div>
 </div>
</div>
</div>

</ion-slide>
</ion-slides>
</ion-content>
