page-signup {
.full{padding:2px; box-sizing:border-box; }
.nema{ background-image: url('../../www/assets/img/nema.png');} /*...development ...  url('../../assets/img/callgirl.jpg');*/
.top{width:100%;  padding-top:50px; box-sizing:border-box; overflow:hidden;}
.logoholder{display:block; height:60px; width:60%; box-sizing:border-box;  margin:0px auto; display:block;  background:rgba(255,255,255,0.4);}
.logoholder span{display:inline-block; text-align:center; width:100%; height:100%; background-repeat:no-repeat; line-height:60px; background-size:contain; background-position:center; }
.toplogoname{height:auto;  padding:0px 30px; padding-top:30px;  box-sizing:border-box; overflow:hidden; font-family:Open Sans;}
.light, .white{font-family:Lato; letter-spacing:1px;  display:block; text-align:center; overflow:hidden; color:rgba(255,255,255,0.6);  font-weight:light; font-size:16px; line-height:18px;}
.white, .header{font-size:20px; margin-top:15px; font-weight:600; margin-bottom:15px; text-transform:capitalize; font-family:Dosis; font-weight:normal; line-height:25px; color:#fff;}
.inputhold, .inputhold2{margin-top:30px; width:100%; padding:10px 30px; box-sizing:border-box; overflow-x:hidden;}
input,textarea{height:45px; line-height:45px; text-indent:10px; width:100%; border:none; background:transparent; color:#222; font-size:14px; text-align:center;}
textarea{font-size:10px; line-height:12px; padding:3px;}
.input, .inputtextarea{height:45px; overflow:hidden;  font-family:Open Sans; border-radius:3px; width:100%; background:rgba(255,255,255,0.4); margin-bottom:10px; box-sizing:border-box; overflow:hidden;}
.inputtextarea{height:auto; min-height:50px; box-sizing:border-box; padding:3px;}
.mbo{height:22px; margin-top:2px; margin-bottom:2px; overflow:hidden; line-height:22px; font-family:Open Sans;font-size:20px; text-align:center; color:#fff!important; }
.mbo span{text-align:left; float:left; font-size:12px; color:#fff;}
 .mbsmall{margin-top:10px; font-size:11px; letter-spacing:0px; margin-bottom:40px;} .yellow{background:rgba(242,215,26,0.8); color:#fff; font-size:14px; line-height:45px;  text-align:center;}
.uppercase{text-transform:uppercase;} .iconss{display:block; text-align:center; font-size:40px;  line-height:50px; margin-top:-25px; color:#fff; text-align:center;}
.tx{font-size:12px; letter-spacing:0px; line-height:16px;}
.slide-zoom { display: block; width: 100%;height:100%;  text-align: center;} .whitebg{background:#fff; color:#36A8DB;}
.largeicon{font-size:150px; line-height:150px; color:#fff; text-align:center; margin-bottom:3px;}
.largeicon .span{ width:150px; display:block; margin:0px auto; color:#36A8DB; box-sizing:border-box;  border:solid 2px #fff;  font-family:Open Sans; text-align:center; height:150px; line-height:150px; background-color:#fff; border-radius:50%; background-size:contain; background-position:center;}
.span i{font-size:80px; margin-top:20px; line-height:80px; text-align:center; display:block; margin-bottom:5px; color:#36A8DB;}
.span span{ font-size:12px; height:15px; line-height:15px; margin-top:0px;  display:block; text-align:center; color:#36A8DB; }
.span ion-icon{line-height:150px; font-size:50px; margin:0px; text-align:center;}
.header{font-weight:normal; font-family:Lato; font-size:25px;  line-height:30px;}
.inputhold2{margin-top:0px;}
 .btn{height:30px; margin-top:2.5px; border:solid 1px #fff; border-radius:2px; margin-left:2px; margin-right:3px; font-size:10px; font-family:Open Sans; line-height:30px; overflow:hidden; padding:0px 5px; text-align:left;}
.btnwhite{background:#fff; color:#36A8DB; }
.btnblue{color:#fff; border-color:#fff;}
.input .spss{ color: #fff;  line-height:45px; text-align:left!important; text-decoration:normal;   font-size:15px!important;  }
.inphold{font-size:0px; overflow:hidden;} .transp{background-color:rgba(0,0,0,0); box-sizing:border-box; padding-right:20px;}
.inputhold2 .input{margin-bottom:0px;}

.help{height:12px; line-height:12px; margin-top:1px; margin-bottom:3px; font-size:10px; color:#fff!important; font-family:Open Sans; text-align:left;}
.col9{width:88%; display:inline-block;} .col1{width:10%;  font-size:18px;  line-height:45px; display:inline-block;} .fl{float:left;} .fr{float:right;}
.blueish{background:#0C131B; }
/* .....................new css ............................*/
.padtop{box-sizing:border-box; padding:10px 0px; }

.transp1{background:#213144;}
.transp2{background:rgba(255,255,255,0.1);}
.transp2{background:rgba(255,255,255,0.1);}
.topmax{height:125px; background:#16212E; }

.tp2{height:165px;  box-sizing:border-box; overflow:hidden;}
.next{background:#0F1721; }
.top1{box-sizing:border-box; padding:0px 30px; font-family:Open Sans;  height:40px; line-height:40px; font-size:16px; letter-spacing:0.5px; color:rgba(255,255,255,0.4);  display:block; overflow:hidden;}
.top1 i{float:left; line-height:40px; font-size:30px;  }
.greenvalues{height:125px; line-height:125px; font-size:0px; }
.l1, .m1, .r1{height:100%; vertical-align:top;  width:15%; line-height:125px; display:inline-block; text-align:center; color:rgba(255,255,255,0.5); }
.m1{width:35%; text-align:left; padding:10px; box-sizing:border-box; overflow:hidden;}.r1{width:50%; text-align:left;}
.l1{font-family:Open Sans; font-size:30px; padding-right:10px; box-sizing:border-box; text-align:right;} 
.r1{text-transform:uppercase;  font-size:12px;  padding-top:35px; line-height:18px; padding-right:50px; overflow:hidden; }
.pd{padding:40px 20px;  box-sizing:border-box; overflow:hidden;}
.bbn{background:#26B9B7; height:55px; vertical-align:top;  line-height:55px!important;  width:100%; border-radius:2px; font-size:14px; color:#fff; text-transform:uppercase; letter-spacing:2px; font-family:Open Sans; text-align:center;}
.bbn i{font-size:40px; line-height:55px; margin-right:20px;} .bbn span{line-height:55px!important; vertical-align:top; display:border-box;   box-sizing:border-box; height:55px!important;}
.ima{height:70px; margin-top:12.5px; width:85%; border:solid 1px #26B9B7; border-radius:4px;  }
.ima .div{width:100%; height:15px; border-bottom:solid 1px #26B9B7; padding-left:5px; box-sizing:border-box; line-height:15px; color:#26B9B7; font-size:10px;  }
.ima i{display:inline-block; margin-left:2px; line-height:15px;} .div2{height:55px; width:100%; line-height:55px; color:#26B9B7; font-size:40px; text-align:center;}
.arrow{ font-size:30px; margin-top:-15px; margin-left:10px; color:#26B9B7;}
/* .......................new css ..........................*/
::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0,0.2); 
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(0,0,0,0.2);
}

:-ms-input-placeholder {  
  color: rgba(0,0,0,0.2);
}

}
