<!--
  Generated template for the Signup page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class = "full blueish">
<ion-slides>    
<!---multiple form  for one page form-->
<ion-slide class = "overall">
<div class = "topmax padtop tp2 "><div class = "top1 new-gradient"><i class = "fa fa-angle-left"></i> Lorem Ipsum</div>
<div class = "greenvalues" (click) = "gotobar(1)">
<div class = "l1">1</div>
<div class = "m1">
  <div class = "ima">
  <div class = "div"><i class = "fa fa-circle-o"></i><i class = "fa fa-circle-o"></i><i class = "fa fa-circle-o"></i></div>
  <div class = "div2"><i class = "fa fa-rss"></i></div>
</div>
<i class = " arrow fa fa-location-arrow "></i>
</div>
<div class = "r1">visit our website, is on this web hook and all</div>
</div>
</div>
<div class = "greenvalues"  (click) = "gotobar(1)" >
<div class = "topmax next">
<div class = "l1">2</div>
<div class = "m1">
  <div class = "ima">
  <div class = "div"><i class = "fa fa-circle-o"></i><i class = "fa fa-circle-o"></i><i class = "fa fa-circle-o"></i></div>
  <div class = "div2"><i class = "fa fa-mobile"></i></div>
</div>
<i class = "arrow fa fa-location-arrow"></i>
</div>
<div class = "r1">Click on the mobile tab in the users profile</div>
</div>
</div>
<div class = "greenvalues"  (click) = "gotobar(1)" >
<div class = "topmax ">
<div class = "l1">3</div>
<div class = "m1">
  <div class = "ima">
  <div class = "div"><i class = "fa fa-circle-o"></i><i class = "fa fa-circle-o"></i><i class = "fa fa-circle-o"></i></div>
  <div class = "div2"><i class = "fa fa-street-view"></i></div>
</div>
<i class = "fa fa-location-arrow arrow"></i>
</div>
<div class = "r1">Generate an Access key for your mobile phone</div>
</div>
</div>
<div class = "greenvalues"  (click) = "gotobar(1)" >
<div class = "topmax next">
<div class = "l1">4</div>
<div class = "m1">
    <div class = "ima">
  <div class = "div"><i class = "fa fa-circle-o"></i><i class = "fa fa-circle-o"></i><i class = "fa fa-circle-o"></i></div>
  <div class = "div2"><i class = "fa fa-qrcode"></i></div>
</div>
<i class = "fa fa-location-arrow arrow"></i>
</div>
<div class = "r1">visit our website, is on this web hook and all</div>
</div>
</div>
<div class = "topmax pd"><div class = "bbn"><i class = "fa fa-qrcode"></i><span>Kuzi this is button</span></div></div>
</ion-slide>
  <ion-slide class = "overall"><!---slide-2-->
   <div class = "top">
     <div class = "largeicon"><ion-icon name = "contact"></ion-icon></div>
     <div class = "header">Bio Information</div>
   </div>
   <div class = "inputhold2">
       <div class = "input"><input type = "text" [(ngModel)] = "firstname" placeholder = "First Name"></div>
       <div class = "help"><span>{{firstnameerr}}</span></div>
       <div class = "input"><input type = "text" [(ngModel)] = "lastname" placeholder = "Last Name"></div>
       <div class = "help"><span>{{lastnameerr}}</span></div>
       <div class = "input"><input type = "text" [(ngModel)] = "telephone" placeholder = "telephone"></div>
       <div class = "help"><span>{{telephoneerr}}</span></div>
       <div class = "input"><input type = "email" [(ngModel)] = "email" placeholder = "email"></div>
        <div class = "mbo"><span>{{regerr}}</span><i *ngIf = "loading" class = "fa fa-spin fa fa-circle-o-notch"></i></div>       
        <div class = "inphold"><div class = "input whitebg fl col1"><span><i class = "fa fa-arrow-left"  (click) = "gotobar(0)"></i></span></div>
        <div class = "input yellow  fr col9" (click) = "register()">Submit</div></div>

   </div>
  </ion-slide>
  <ion-slide class = "overall">
   <div class = "top">
     <div class = "largeicon">
     <div class = "span" [ngStyle]="{'background-image': 'url(' + base64Image + ')'}">
       <ion-icon  *ngIf  = "!frontpicture &amp;&amp; !loadingpic" name = "camera"></ion-icon>
       <i  *ngIf  = "loadingpic &amp;&amp; !frontpicture " class = "fa fa-spin fa fa-circle-o-notch"></i><span *ngIf = "loadingpic &amp;&amp; !frontpicture">Posting ...</span>
     </div>
     </div>
     <div class = "header">More Information</div>
   </div>
   <div class = "inputhold2">
       <div class = "input transp"><i class = "spss">Picture</i> <div class = "btn btnblue fr" (click) = "takePicture('cam')"><ion-icon name ="camera"></ion-icon> From Camera</div> <div class = "btn btnwhite fr" (click) = "takePicture('notcam')"><ion-icon name ="film"></ion-icon> From Gallery</div></div>
       <div class = "help"><span>{{imageerr}}</span></div>
       <div class = "inputtextarea"><textarea cols= "50" type = "text" [(ngModel)] = "address" placeholder = "Your residential address"></textarea></div>
       <div class = "help"><span>{{addresserr}}</span></div>
       <div class = "input"><input type = "text" [(ngModel)] = "nextofkinname" placeholder = "Name of next of kin"></div>
       <div class = "help"><span>{{ nextofkinnameerr}}</span><span> {{ nextofkinnumbererr}}</span></div>
       <div class = "input"><input type = "text" [(ngModel)] = " nextofkinnumber" placeholder = "Phone number of next of kin"></div>
           <div class = "mbo"><span>{{regerr2}}</span><i *ngIf = "loadingfinal" class = "fa fa-spin fa fa-circle-o-notch"></i></div>     
        <div class = "inphold"><div class = "input whitebg fl col1"><span><i class = "fa fa-arrow-left"  (click) = "gotobar(1)"></i></span></div>
        <div class = "input yellow  fr col9" (click) = "furtherregister()">Submit</div></div>

   </div>
  </ion-slide>
</ion-slides>
</ion-content>
