<!--
  Generated template for the Signup page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class = "full light-blue-gradient">
<ion-slides [options]="{onlyExternal: true}">    
<!---multiple form  for one page form-->
<ion-slide class = "overall" >
<div class = "top">
  <div class = "logoholder"><span class = "nema"></span></div>
  <div class = "toplogoname">
    <span class = "light">Sign in to the NEMA App</span>
    <span class = "white">National Emergency Response Management Agency</span>
    <span class = "light">NEMA Nigeria</span>
  </div>
</div>
<div class = "inputhold">
  <div class = "input"><input type = "text" [(ngModel)] = "telephone"  placeholder = "Telephone or email"></div>  
  <div class = "input"><input type = "password" [(ngModel)] = "password" placeholder = "Password"></div>
  <div class = "mbo"><span></span><i *ngIf = "ssloading" class = "fa fa-spin fa fa-circle-o-notch"></i></div>
  <div class = "mbo"><span>{{sgnerr}}</span><i *ngIf = "loading" class = "fa fa-spin fa fa-circle-o-notch"></i></div>  
  <div class = "input yellow uppercase" (click) = "signin()">Sign In</div>
  <div class =  "light mbsmall">Forgot Password</div>
  <div class = "iconss" (click) = "gotobar(1)">
   <i class = "fa fa-map-marker"></i>
   <div class = "light tx">Sign up</div>
    </div>
</div>
</ion-slide>
  <ion-slide class = "overall">
   <div class = "top">
     <div class = "largeicon"><ion-icon name = "contact"></ion-icon></div>
     <div class = "header">Bio Information</div>
   </div>
   <div class = "inputhold2">
       <div class = "input"><input type = "text" [(ngModel)] = "firstname" placeholder = "First Name"></div>
       <div class = "help"><span>{{firstnameerr}}</span></div>
       <div class = "input"><input type = "text" [(ngModel)] = "lastname" placeholder = "Last Name"></div>
       <div class = "help"><span>{{lastnameerr}}</span></div>
       <div class = "input"><input type = "text" [(ngModel)] = "telephone" placeholder = "telephone"></div>
       <div class = "help"><span>{{telephoneerr}}</span></div>
       <div class = "input"><input type = "password" [(ngModel)] = "password" placeholder = "password"></div>
       <div class = "help"><span> {{passworderr}}</span></div>
       <div class = "input"><input type = "email" [(ngModel)] = "email" placeholder = "email"></div>
        <div class = "mbo"><span>{{regerr}}</span><i *ngIf = "loading" class = "fa fa-spin fa fa-circle-o-notch"></i></div>       
        <div class = "inphold"><div class = "input whitebg fl col1"><span><i class = "fa fa-arrow-left"  (click) = "gotobar(0)"></i></span></div>
        <div class = "input yellow  fr col9" (click) = "register()">Submit</div></div>

   </div>
  </ion-slide>
  <ion-slide class = "overall">
   <div class = "top">
     <div class = "largeicon">
     <div class = "span" [ngStyle]="{'background-image': 'url(' + base64Image + ')'}">
       <ion-icon  *ngIf  = "!frontpicture &amp;&amp; !loadingpic" name = "camera"></ion-icon>
       <i  *ngIf  = "loadingpic &amp;&amp; !frontpicture " class = "fa fa-spin fa fa-circle-o-notch"></i><span *ngIf = "loadingpic &amp;&amp; !frontpicture">Posting ...</span>
     </div>
     </div>
     <div class = "header">More Information</div>
   </div>
   <div class = "inputhold2">
       <div class = "input transp"><i class = "spss">Picture</i> <div class = "btn btnblue fr" (click) = "takePicture('cam')"><ion-icon name ="camera"></ion-icon> From Camera</div> <div class = "btn btnwhite fr" (click) = "takePicture('notcam')"><ion-icon name ="film"></ion-icon> From Gallery</div></div>
       <div class = "help"><span>{{imageerr}}</span></div>
       <div class = "inputtextarea"><textarea cols= "50" type = "text" [(ngModel)] = "address" placeholder = "Your residential address"></textarea></div>
       <div class = "help"><span>{{addresserr}}</span></div>
       <div class = "input"><input type = "text" [(ngModel)] = "nextofkinname" placeholder = "Name of next of kin"></div>
       <div class = "help"><span>{{ nextofkinnameerr}}</span><span> {{ nextofkinnumbererr}}</span></div>
       <div class = "input"><input type = "text" [(ngModel)] = " nextofkinnumber" placeholder = "Phone number of next of kin"></div>
           <div class = "mbo"><span>{{regerr2}}</span><i *ngIf = "loadingfinal" class = "fa fa-spin fa fa-circle-o-notch"></i></div>     
        <div class = "inphold"><div class = "input whitebg fl col1"><span><i class = "fa fa-arrow-left"  (click) = "gotobar(1)"></i></span></div>
        <div class = "input yellow  fr col9" (click) = "furtherregister()">Submit</div></div>

   </div>
  </ion-slide>
</ion-slides>
</ion-content>
